@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

// @include componentStyle;
// color: $genTextCol;

.questions {
  width: 100%;
  height: 100%;

  &-answers-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
}